{% extends "/company/detail.html" %}

{% block bodyl %}

<div class="col-md-8">
    <ul class="nav nav-tabs">
        <li role="presentation" class=""><a href="{{ url_for('company.detail', company_id=company.id) }}">Description</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('company.jobs', company_id=company.id) }}">Jobs: ({{ company.jobnumber }})</a></li>
    </ul>
    <div class="company-detail">
    {% for job in company.job %}
        <div class="job-item">
            <a href="{{ url_for('job.detail', job_id=job.id) }}">
            <h4>{{ job.name }}</h4>
            <p>
                <span class="job-salary">{{ job.salary }}</span>
                &nbsp;
                <span class="job-meta"><{{ job.experience }}</span>
            </p>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

