.form{
    width:400px;
    margin:0 auto;
}

a,
a:hover,
a:visited{
    cursor: pointer;
    color: #333;
    text-decoration: none !important;
}

.job-list,
.company-list{
    margin-top: 15px;
}

.list-title{
    margin: 0 15px;
}

.list-more{
    text-align: center;
    margin-bottom: 50px;
}

a.list-more-btn{
    padding: 10 138px;
        color: #5cb85c;
    background-color: #fff;
}


